<ul>
  <li>
    <a
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
  </li>
  <li>
    <a routerLink="projects" routerLinkActive="active">Projects</a>
  </li>

  <li>
    <a routerLink="/profile" [queryParams]="{ id: 1 }" routerLinkActive="active"
      >Profile - User 1</a
    >
  </li>
  <li>
    <a routerLink="/profile" [queryParams]="{ id: 2 }" routerLinkActive="active"
      >Profile - User 2</a
    >
  </li>
</ul>

<!-- <app-home></app-home>
<app-projects></app-projects> -->

<router-outlet></router-outlet>
